<footer >
    <div class="footer-info d-flex flex-row">
        <div class="d-flex flex-column  mt-4">
            <table class="ml-5">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <a href="#"><img src="assets/img/Asset 4@4x.png" class="logo" style="text-align: left;"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class=" mt-4 ml-5">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <a href="#"><img src="assets/img/email.png" class="icons">&nbsp;support@ktronix.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <a href="#"><img src="assets/img/facebook.png" class="icons">&nbsp;/ktronixph</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <a href="#"><img src="assets/img/instagram.png" class="icons">&nbsp;@ktronixph_store</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-column  mt-5 ml-5">
            <span style="text-align: left; font-weight: bold;">Our Company</span>
            <table class="mt-4">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <p><img src="assets/img/location.png" class="contact-icons">&nbsp;#70 Jasmine St. Lodora Village, Brgy Tunasan, Muntinlupa, NCR</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <p><img src="assets/img/phone-call.png" class="contact-icons">&nbsp;+639054302834</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
    <div class="dropdown-divider"></div>
    <div class="company-policy d-flex justify-content-end">
        <a href="#" class=" ml-5 mr-5 mt-4" style="text-align: left;">Terms and Condition of use</a>
        <a href="#" class=" ml-5 mr-5 mt-4" style="text-align: left;">Privacy Policy</a>
    </div>
</footer>