<div class="pageContentWrapper">
    <div class="spacer"></div>
    <div class="show-orders-page-content">
        <span style="font-weight: bold;">Order Details</span><br><br> 
        <table class="table-borderless" style="margin: auto ; border-bottom: hidden; width: 100%;">
            <tbody>
                <tr style="border-bottom: 0;">
                    <td colspan="2" style="padding: 0px 10px 0px 10px; background-color: #ebebeb; width: 50%;">
                        Order ID：
                    </td>
                    <td colspan="2" style="padding: 0px 10px 0px 10px; background-color: #ebebeb; ">
                        26842
                    </td>
                </tr>
                <tr style="border-bottom: 0;">
                    <td colspan="2" style="padding: 0px 10px 0px 10px; background-color: #ebebeb; width: 50%;">
                        Order Published：
                    </td>
                    <td colspan="2" style="padding: 0px 10px 0px 10px; background-color: #ebebeb; ">
                        2020-08-08
                    </td>
                </tr>
                <tr style="border-bottom: 0;">
                    <td colspan="2" style="padding: 0px 10px 0px 10px; background-color: #ebebeb; width: 50%;">
                        Status：
                    </td>
                    <td colspan="2" style="padding: 0px 10px 0px 10px; background-color: #ebebeb; ">
                        Processing
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="cart-table" class="order-table mt-2" data-mobile-responsive="true">
            <tbody>
               <tr style="background-color: #fbfbfb;">
                  <th scope="col" style="font-weight: bold; font-style: normal !important; font-size: 16px;">Order Info</th>
                  <th scope="col" style="font-weight: bold; font-style: normal !important; font-size: 16px;">Totals</th>
               </tr>
               
               <tr>
                  <td>Raspberry Pi x 1</td>
                  <td><strong>₱2,700</strong></td>
               </tr>
               
               <tr>
                  <td><strong>Total:</strong></td>
                  <td><strong>₱2,700</strong></td>
               </tr>
               <tr>
                  <td><strong>Voucher:</strong></td>
                  <td><strong>- ₱0</strong></td>
               </tr>
               <tr>
                  <td><strong>Shipping Fee:</strong></td>
                  <td><strong>₱0</strong></td>
               </tr>
               <tr>
                  <td><strong>Payment Method:</strong></td>
                  <td><strong>Credit Card</strong></td>
               </tr>
               <tr>
                  <td><strong>Grand Total:</strong></td>
                  <td><strong>₱3,630</strong></td>
               </tr>
            </tbody>
         </table>
         <button class="continueshopping">Continue Shopping</button>
    </div>
    <div class="spacer"></div>
</div>
