<div class="forgot-password-page">
    <div class="spacer"></div>
    <div class="forgot-password-page-content">
        <h3 class="mt-3 mb-5 d-flex justify-content-around" style="color: #154f80; font-weight: bold;">Forgot Password</h3>
        <div class="d-flex justify-content-around">
            <i class="fa fa-user input-icon"></i>
            <input class="forgot-password-input w-100" name="username" placeholder="Username">
        </div>
        <div *ngIf="isSuccess == 1" class="alert alert-success mt-3">
            <strong>Success!</strong> Please check your email for further instructions.
        </div>
        <div *ngIf="isSuccess == 0" class="alert alert-danger mt-3">
            <strong>Error!</strong> Failed to send request.
        </div>
        <button class="forgot-password-button" style="background:#154f80; color:white;" (click)="sendRequest()">Send</button>      
        <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
</div>