.pageContentWrapper{
    width: 85%;
    margin: auto;
}

@media screen and (max-width: 720px) {
    .pageContentWrapper{
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .pageContentWrapper{
        width: 100%;
        margin: auto;
    }
}