<div class="cart-page">
    <div class="spacer"></div>
    <div class="cart-page-content">
        <span style="font-weight: bolder;">My Cart</span>
        <table class="cart-table">
            <tr style="height: 20px;">
              <th>Item</th>
              <th>Item Description</th>
            </tr>
            <tr *ngFor="let cart_content of _appService.cart_contents; let i = index;">
              <td class="cart-table-td-first" style="text-align: left;">
                <img src={{cart_content.imgSrc}} class="cart-item-image mr-4"><br/>
              </td>
              <td>
                <div class="specs-holder">
                    <div class="d-flex justify-content-between">
                        <span style="font-weight: bold;">{{cart_content.titleSpecs}}</span>
                        <button class="cart-delete mr-2" (click)="deleteFromCart(i)">X</button>
                    </div>
                <div class="cart-specs">
                        <span [innerHTML]="cart_content.subSpecs"></span><br><br>
                        <del><span>₱{{cart_content.regularPrice.toLocaleString(undefined, {minimumFractionDigits: 2})}}</span></del> - <span style="color: red;">₱{{cart_content.discountedPrice.toLocaleString(undefined, {minimumFractionDigits: 2})}}</span>&nbsp; 
                        <span class="price-badge">₱{{cart_content.discountedPrice.toLocaleString(undefined, {minimumFractionDigits: 2})}}</span>
                    </div>
                    <div class="price-details d-flex justify-content-between">
                        <div class="quantity-holder d-flex justify-content-start">
                            <span class="cart-qty">Qty:</span>
                            <div class="number-spinner">
                                <ngx-number-spinner [value]="cart_content.quantity" (change)="change($event, i)" [min]="1"></ngx-number-spinner>
                            </div>
                        </div>
                        <div class="total-price">
                            <span class="cart-qty">Total price:</span>
                            <span class="total">₱{{cart_content.priceBadge.toLocaleString(undefined, {minimumFractionDigits: 2})}}</span>
                        </div>
                    </div>

                </div>
              </td>
            </tr>
          </table>
          <button class="continueshopping">Continue Shopping</button>
          <div id="discount-info" class="d-flex justify-content-start">
            <img src="/assets/img/voucher@2x.png" id="discount-image">
            <span class="discount-notice">*By checking out this shopping cart, you can collect up to 2057 points that can be converted into a voucher of P2,057.00</span>
          </div>
          <div id="summary-holder">
            <span style="font-weight: bold;">Summary</span>
            <table class="summary-table">
                <tr style="height: 20px;">
                  <th style="font-weight: normal !important;">{{getQuantityTotal()}} Items</th>
                  <th style="text-align: right;">₱{{getPriceTotal().toLocaleString(undefined, {minimumFractionDigits: 2})}}</th>
                </tr>
                <tr *ngFor="let cart_content of _appService.cart_contents; let i = index;">
                    <td class="summary-table-td-first" style="text-align: left;">
                        {{cart_content.quantity}} x {{cart_content.titleSpecs}}
                    </td>
                    <td style="text-align: right;">
                        ₱{{cart_content.priceBadge.toLocaleString(undefined, {minimumFractionDigits: 2})}}
                    </td>
                </tr>
                <tr style="vertical-align: top; height: 40px;">
                    <th style="font-weight: normal !important; text-align: left; border-bottom: 1px solid #dddddd;">
                        Shipping Fee
                    </th>
                    <th style="text-align: right; border-bottom: 1px solid #dddddd;">
                        ₱0
                    </th><br>
                </tr>
              </table>
              <table class="summary-table mt-2">
                  <tr style="height: 20px;">
                    <th>Total</th>
                    <th style="text-align: right;">₱{{getPriceTotal().toLocaleString(undefined, {minimumFractionDigits: 2})}}</th>
                  </tr>
            </table>
          </div>
          <div id="voucher-holder" class="d-flex justify-content-end">
            <input class="voucher-input" name="voucher" placeholder="Enter Code..">
            <button class="voucher-button">Apply</button>
          </div>
          <button class="checkout-button" style="background:#0ca6ea; color:white;">Proceed to Checkout</button>
    </div>
    <div class="spacer"></div>
</div>