<div class="cart-page">
    <div class="spacer"></div>
    <div class="cart-page-content">
        <span style="font-weight: bolder;">My Cart</span>
        <table class="cart-table">
            <tr style="height: 20px;">
              <th>Item</th>
              <th>Item Description</th>
            </tr>
            <tr>
              <td class="cart-table-td-first" style="text-align: left;">
                <img src="/assets/temp-img/lenovo.png" class="cart-item-image mr-4"><br/>
              </td>
              <td>
                <div class="specs-holder">
                    <div class="d-flex justify-content-between">
                        <span style="font-weight: bold;">Specs Specs</span>
                        <button class="cart-delete mr-2">X</button>
                    </div>
                <div class="cart-specs">
                        <span >Specs Specs Specs</span><br>
                        <span >Specs Specs Specs</span><br>
                        <br>
                        <del><span>₱10,000.00</span></del> - <span style="color: red;">₱10,000.00</span>&nbsp; 
                        <span class="price-badge">₱10,000.00</span>
                    </div>
                    <div class="price-details d-flex justify-content-between">
                        <div class="quantity-holder d-flex justify-content-start">
                            <span class="cart-qty">Qty:</span>
                            <span class="stepper">
                                <button>–</button>
                                    <input type="number" id="stepper" value="1" min="1" max="100" step="1" readonly>
                                <button>+</button>
                            </span>
                        </div>
                        <div class="total-price">
                            <span class="cart-qty">Total price:</span>
                            <span class="total">₱10,000.00</span>
                        </div>
                    </div>

                </div>
              </td>
            </tr>
            <tr>
              <td class="cart-table-td-first" style="text-align: left;">
                <img src="/assets/temp-img/lenovo.png" class="cart-item-image mr-4"><br/>
              </td>
              <td>
                <div class="specs-holder">
                    <div class="d-flex justify-content-between">
                        <span style="font-weight: bold;">Specs Specs</span>
                        <button class="cart-delete mr-2">X</button>
                    </div>
                    <div class="cart-specs">
                        <span >Specs Specs Specs</span><br>
                        <span >Specs Specs Specs</span><br>
                        <br>
                        <del><span>₱10,000.00</span></del> - <span style="color: red;">₱10,000.00</span>&nbsp; 
                        <span class="price-badge">₱10,000.00</span>
                    </div>
                    <div class="price-details d-flex justify-content-between">
                        <div class="quantity-holder d-flex justify-content-start">
                            <span class="cart-qty">Qty:</span>
                            <span class="stepper">
                                <button>–</button>
                                    <input type="number" id="stepper" value="1" min="1" max="100" step="1" readonly>
                                <button>+</button>
                            </span>
                        </div>
                        <div class="total-price">
                            <span class="cart-qty">Total price:</span>
                            <span class="total">₱10,000.00</span>
                        </div>
                    </div>

                </div>
              </td>
            </tr>
            <tr>
              <td class="cart-table-td-first" style="text-align: left; padding-top: 10px;">
                <img src="/assets/temp-img/lenovo.png" class="cart-item-image mr-4"><br/>
              </td>
              <td>
                <div class="specs-holder">
                    <div class="d-flex justify-content-between">
                        <span style="font-weight: bold;">Specs Specs</span>
                        <button class="cart-delete mr-2">X</button>
                    </div>
                <div class="cart-specs">
                        <span >Specs Specs Specs</span><br>
                        <span >Specs Specs Specs</span><br>
                        <br>
                        <del><span>₱10,000.00</span></del> - <span style="color: red;">₱10,000.00</span>&nbsp; 
                        <span class="price-badge">₱10,000.00</span>
                    </div>
                    <div class="price-details d-flex justify-content-between">
                        <div class="quantity-holder d-flex justify-content-start">
                            <span class="cart-qty">Qty:</span>
                            <span class="stepper">
                                <button>–</button>
                                    <input type="number" id="stepper" value="1" min="1" max="100" step="1" readonly>
                                <button>+</button>
                            </span>
                        </div>
                        <div class="total-price">
                            <span class="cart-qty">Total price:</span>
                            <span class="total">₱10,000.00</span>
                        </div>
                    </div>

                </div>
              </td>
            </tr>
          </table>
    </div>
</div>