<div class="register-page">
    <div class="spacer"></div>
    <div class="register-page-content">
        <h3 class="mt-3 mb-3 d-flex justify-content-around" style="color: #154f80; font-weight: bold;">Register Account</h3>
        <div class="name-holder d-flex justify-content-between">
            <input class="register-input name-input" name="first_name" placeholder="First Name">
            <input class="register-input name-input" name="last_name" placeholder="Last Name">
        </div>
        <input class="register-input w-100 mt-2" name="email" placeholder="Email Address">
        <input class="register-input w-100 mt-2" type="password" name="password1" placeholder="Create Password">
        <input class="register-input w-100 mt-2" type="password" name="password2" placeholder="Confirm Password">
        <p class="mt-2" style="color: #969696; text-align: center;">By clicking Register, you agree to our <a href="">Terms, Data Policy</a> and  <a href="">Cookies Policy</a>. You may receive SMS notification from us and can opt out anytime</p>
        <button class="register-button" style="background:#154f80; color:white;">Register</button>
        <a class="d-flex justify-content-around mt-2" style="color: #969696;" href="/login">Back to Login</a>
    </div>
    <div class="spacer"></div>
</div>