<div class="pageContentWrapper">
    <div class="spacer"></div>
    <div class="show-orders-page-content">
        <span style="font-weight: bold;">Order History</span><br><br>  
        <span style="font-weight: bold; color: #969696">Page 1 of 6</span>         
        <table class="order-table mt-3">
            <tr>
                <td style="width: 30%;">Order ID:</td>
                <td style="text-align: right"><a href="/order-details">1234</a></td>
            </tr>
            <tr>
                <td style="width: 30%;">Purchase Date:</td>
                <td style="text-align: right">12/25/2020</td>
            </tr>
            <tr>
                <td style="width: 30%;">Price and Quantity:</td>
                <td style="text-align: right">1 pc P10,000.00</td>
            </tr>
            <tr style="border-bottom: 3px solid #fcaf43;">
                <td style="width: 30%;">Purchase Details:</td>
                <td style="text-align: right"><button class="view-details-button">View Details</button></td>
            </tr>

            
            <tr>
                <td style="width: 30%;">Order ID:</td>
                <td style="text-align: right"><a href="/order-details">1234</a></td>
            </tr>
            <tr>
                <td style="width: 30%;">Purchase Date:</td>
                <td style="text-align: right">12/25/2020</td>
            </tr>
            <tr>
                <td style="width: 30%;">Price and Quantity:</td>
                <td style="text-align: right">1 pc P10,000.00</td>
            </tr>
            <tr style="border-bottom: 3px solid #fcaf43;">
                <td style="width: 30%;">Purchase Details:</td>
                <td style="text-align: right"><button class="view-details-button">View Details</button></td>
            </tr>
        </table>
        <div class="d-flex justify-content-around text-right mt-2">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="spacer"></div>
</div>
