<div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
       <div class="carousel-item active">
          <img src="https://www.e-gizmo.net/oc/image/cache/catalog/0layout/homepage/banner/raspi4-800x500.jpg" class="d-block w-100" style="max-height: 500px; object-fit: contain;" alt="...">
       </div>
       <div class="carousel-item">
          <img src="https://www.e-gizmo.net/oc/image/cache/catalog/0layout/homepage/banner/raspi4-800x500.jpg" class="d-block w-100" style="max-height: 500px; object-fit: contain;" alt="...">
       </div>
       <div class="carousel-item">
          <img src="https://www.e-gizmo.net/oc/image/cache/catalog/0layout/homepage/banner/raspi4-800x500.jpg" class="d-block w-100" style="max-height: 500px; object-fit: contain;" alt="...">
       </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<div id="announcement-holder" class="d-flex justify-content-between">
    <img src="/assets/img/announcement1@2x.png" class="announcement-img" style="">
    <img src="/assets/img/announcement2@2x.png" class="announcement-img">
</div>
<div class="product-holder">
    <span class="product-holder-title">Featured Products</span>
    <br>
    <span class="spacer">|</span>
    <div class="d-flex justify-content-between">    
        <button class="nav-button" (click)="owlCar.prev()"><img src="assets/img/left-arrow.png"></button>
        <owl-carousel-o [options]="customOptions" class="cust-owl-carousel" #owlCar>
            <ng-template carouselSlide>
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/dell.png" class="product-item-carousel">
                    <span class="price-badge">₱10,000.00</span>
                </div>
                <span style="font-weight: bold;">Specs Specs</span><br>
                <span>Specs Specs Specs <br>Specs Specs Specs </span>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/asus.png" class="product-item-carousel">
                    <span class="price-badge">₱20,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide >
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/lenovo.png" class="product-item-carousel">
                    <span class="price-badge">₱30,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide >
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/acer.png" class="product-item-carousel">
                    <span class="price-badge">₱40,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/asus.png" class="product-item-carousel">
                    <span class="price-badge">₱50,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide >
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/lenovo.png" class="product-item-carousel">
                    <span class="price-badge">₱60,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
        </owl-carousel-o>
        <button class="nav-button" (click)="owlCar.next()"><img src="assets/img/right-arrow.png"></button>
    </div>
</div>
<div class="product-holder">
    <span class="product-holder-title">Best Selling Products</span>
    <br>
    <span class="spacer">|</span>
    <div class="d-flex justify-content-between">    
        <button class="nav-button" (click)="owlCar2.prev()"><img src="assets/img/left-arrow.png"></button>
        <owl-carousel-o [options]="customOptions" class="cust-owl-carousel" #owlCar2>

            <ng-template carouselSlide>
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/dell.png" class="product-item-carousel">
                    <span class="price-badge">₱10,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/asus.png" class="product-item-carousel">
                    <span class="price-badge">₱20,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide >
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/lenovo.png" class="product-item-carousel">
                    <span class="price-badge">₱30,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide >
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/acer.png" class="product-item-carousel">
                    <span class="price-badge">₱40,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
                <span>Specs</span>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/asus.png" class="product-item-carousel">
                    <span class="price-badge">₱50,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>  
            <ng-template carouselSlide >
                <div class="product-item-image">
                    <span class="discount-badge">Sale 50% off</span>
                    <img src="/assets/temp-img/lenovo.png" class="product-item-carousel">
                    <span class="price-badge">₱60,000.00</span>
                    <span style="font-weight: bold;">Specs Specs</span><br>
                    <span>Specs Specs Specs <br>Specs Specs Specs </span>
                </div>
            </ng-template>   
        </owl-carousel-o>
        <button class="nav-button" (click)="owlCar2.next()"><img src="assets/img/right-arrow.png"></button>
    </div>
</div>