.announcement-img{
    width: 49%;
    background-color: #f3f3f3;
} 

.product-holder{
    margin-top: 30px !important;
    margin:auto;
}

.product-holder-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-item-carousel{
    width: 200px !important;
    height: 200px;
    object-fit: contain;
    background-color: #f3f3f3;
}
.cust-owl-carousel {
    width: 80%;
    margin: auto;
}
.nav-button {
    background: transparent;
    border: 0px;
    width: 44px;
    height: 44px;
    margin-top: 70px;
}
.discount-badge{
    position: absolute;
    left:0px;
    top:0px;
    background:#d0011b;
    text-align: center;
    color:white;
    padding:5px 10px;
    font-size:14px;
}

.product-item-image .price-badge{
    position: absolute;
    width: 100px;
    left: 100px;
    bottom:73px;
    background:#044377;
    text-align: center;
    color:white;
    padding:5px 10px;
    font-size:14px;
}
@media screen and (max-width: 720px) {
    .announcement-img{
        margin-top: 20px !important;
        width: 95%;
        margin: auto;
    } 
    .product-holder{
        margin-top: 20px;
    }
    
    .cust-owl-carousel {
        width: 90% !important;
        margin: auto;
    }
    
    #announcement-holder{
        flex-direction: column !important;
    }
    
    .product-item-carousel{
        width: 100px;
        height: 130px;
        object-fit: contain;
    }
    .product-item-image .price-badge{
        width: 50;
        left: 50;
    }

}

@media screen and (max-width: 540px) {
    .announcement-img{
        margin-top: 30px;
        width: 95%;
        margin: auto;
    } 
    #announcement-holder{
        flex-direction: column !important;
    }
    
    .cust-owl-carousel {
        width: 100%;
    }
    
    .product-holder{
        margin-top: 20px;
        margin-left: 15px;
    }

    .product-item-carousel{
        width: 140px !important;
        height: 140px;
        object-fit: contain;
    }
    
    .nav-button{
        display: none;
    }
    .product-item-image .price-badge{
        left: 40px;
    }

}


@media screen and (max-width: 396px) {
    .product-item-image .price-badge{
        bottom: 120px;
    }

}